body {
      background-color: #222831;
      text-align: center;
      padding: 0px !important;
      margin: auto 0;
}

* {
      box-sizing: border-box;
}

.newslide {
      margin: auto;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0px;
      left: 0px;
      border:2px solid white;
      animation: slideanimation 2000ms linear;
}

.newimage {
     
      height: 100%;
      width: 100%;
}

@keyframes slideanimation {
      from {
            transform: translateY(100vh);
      }

      to {
            transform: translate(0);
      }
}